<!DOCTYPE html>
<html lang="en" ng-app="shopList"  id="ng-app">
<head>
	<meta charset="UTF-8">
	<title>Заголовок</title>
	
	<!-- <base href="[[++site_url]]" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.min.css">
	
	<script src="js/angular.js"></script>
	<script src="js/jquery-2.1.1.min.js"></script>
</head>
<body ng-controller="ListController">

	<div class="top-line navbar navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 total">
					<div class="total__val">
						<div class="total__val__text"><h2>В списке:</h2></div>
						<div class="total__val__num"><span>{{products.length}}</span></div>
						<div class="total__val__price"><span>{{totalPrice}} р</span></div>
						<div class="total__val__text"><h2>В корзине:</h2></div>
						<div class="total__val__num"><span>{{calc}}</span></div>
						<div class="total__val__price"><span>{{totalPriceBuy}} р</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<div class="input-line">
					<input type="text" class="input-product" ng-model="inputName">
					<button ng-click="add()" class="but-add"></button>
				</div>

				<div ng-repeat = 'product in products' class="product {{product.class}}">

					<div class="product__delete" ng-click="delete(product)"></div>
					<div class="product__edit__but" ng-click="edit(product)"></div>
					<div class="product__add" ng-click="buy($event, product)"></div>

					<div class="product__name">
						<h2>{{product.name}} <span>{{product.count + ' шт.'}} </span></h2>
						<span>{{product.price * product.count || product.price + ' р'}} </span>
					</div>

					<div class="product__edit" ng-show="product.edit">

						<span class="product__edit__span" ng-click="editInputName = true; name = true;" ng-hide="name">Название: {{product.name}} </span> 
						<input class="product__edit__input" ng-model="product.name" ng-show="editInputName" type="text">
						<button ng-click="calcPrice(); editInputName = false; name = false;" ng-show="editInputName" class="product__edit__ok" >ок</button>

						<!-- <hr> -->

						<span class="product__edit__span" ng-click="inputPrice = true; price = true;" ng-hide="price">Цена: {{product.price + ' р'}} </span> 
						<input class="product__edit__input" ng-model="product.price" ng-show="inputPrice" type="text">
						<button ng-click="calcPrice(); inputPrice = false; price = false" ng-show="inputPrice" class="product__edit__ok" >ок</button>

						<!-- <hr> -->

						<span class="product__edit__span" ng-click="inputCount = true; count = true;" ng-hide="count">Кол-во: {{product.count + ' шт'}}</span> 
						<input class="product__edit__input" ng-model="product.count" ng-show="inputCount" type="text">
						<button ng-click="calcPrice(); inputCount = false; count = false" ng-show="inputCount" class="product__edit__ok">ок</button>
					</div>

				</div>

			</div>
		</div>
	</div>

</body>
<script src="js/app.js"></script>
</html>